{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
    <h2>Устройства: </h2>
    <div class="product-block">
            {% for device in object_list %}
            <div class="product-container">
                <div class="product-title">
                    <a href="#">{{device.device_name }}</a>
                </div>
            </div>
            {% empty %}
                <p>Устройств нет.</p>
            {% endfor %}
    </div>
    <p>
        <a href="{% url 'device-add' %}">Добавить устройство</a>
    </p>
{% else %}
<h2>Отказано в доступе</h2>
<p>Необходимо выполнить вход в систему или зарегистрироваться: </p>
<p> <a href="{% url 'login' %}">Вход</a></p>
<p><a href="{% url 'registration' %}">Регистрация</a></p>
{% endif %}
{% endblock %}